* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'saira', sans-serif;
  outline: none;
}

li {
  list-style: none;
}

.icon {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1512px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
}
